<h2 class="form-title">Edit a video</h2>

<form class="input-form" action="/videos/{{video._id}}/updates" method="post" >
  <label class="form-label" for="title">Title</label>
  <input id="title-input" type="text" name="title" maxlength="50" value="{{video.title}}">
  {{#with video.errors.title as |error|}}
  <span class="error">{{error.message}}</span>
  {{/with}}

  <label class="form-label" for="description">Description</label>
  <textarea id="description-input" name="description">{{video.description}}</textarea>
  {{#with video.errors.description as |error|}}
  <span class="error">{{error.message}}</span>
  {{/with}}

  <label class="url-label" for="url">URL</label>
  <input id="url-input" type="text" name="url" maxlength="255" value="{{video.url}}">
  {{#with video.errors.url as |error|}}
  <span class="error">{{error.message}}</span>
  {{/with}}

  <div class="form-navigation">
    <button class="button input-button" id="submit-button" type="submit">
      <p>Save video</p>
    </button>
  </div>
</form>
